
.text-top{
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 3;
    background-color: red;
    
    
}

.text-bottom{
    position: absolute;
    bottom:  5%;
    left: 5%;
    z-index: 3;
    
    background-color: yellow;
    
}

.innner-image{
    width:100%;
    height:100%; 
    
    position: relative;
    padding-right: 10px;
    z-index: 2;
}

.delete-button{
    position: absolute;
    right: 5%;
    z-index: 3;
    
}
.out-box{
    position: relative;
    
}

#holder{
    padding-top: 30px;
    margin: 0 auto;
}